{
  "presets": [
    "@vue/babel-preset-jsx",
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "browsers": ["> 5%", "last 2 versions"]
        },
        "modules": false 
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false  // default: true
      },
      "loadsh"
    ]
  ]
}
